<!DOCTYPE html>
<html>

<head>
    <title>EMI Calculator</title>
</head>

<body>

    <h1>EMI Calculator</h1>

    <form method="POST">

        <label>Loan Amount:</label>
        <input type="number" name="principal" required>

        <br><br>

        <label>Loan Tenure (Years):</label>
        <input type="number" name="years" required>

        <br><br>

        <label>CIBIL Score:</label>
        <input type="number" name="cibil" required>

        <br><br>

        <button type="submit">
            Calculate EMI
        </button>

    </form>

    {% if emi %}

        <h2>Interest Rate: {{ rate }}%</h2>

        <h2>Monthly EMI: {{ emi }}</h2>

        <table border="1" cellpadding="10">

            <tr>
                <th>Month</th>
                <th>EMI</th>
                <th>Interest</th>
                <th>Principal</th>
                <th>Balance</th>
            </tr>

            {% for row in schedule %}

            <tr>
                <td>{{ row.month }}</td>
                <td>{{ row.emi }}</td>
                <td>{{ row.interest }}</td>
                <td>{{ row.principal }}</td>
                <td>{{ row.balance }}</td>
            </tr>

            {% endfor %}

        </table>

    {% endif %}

</body>

</html>
